:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: #e6e6e6;
}

html {
  height: 100%;
}

body2 {
  display: flex;
  justify-content: Center;
  margin: 3rem;
  //border: 1px solid green;
}

main {
  display: block;
  width: 17rem;
  height: 50rem;
  margin: auto;
  padding: 1.5rem;
  border-radius: 8rem;
  background: #e6e6e6;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.22),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.65);
  background: linear-gradient(
    -60deg,
    rgba(0, 0, 0, 0.18),
    rgba(255, 255, 255, 0.65)
  );
}

section {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

section:last-child {
  border-top: 3px ridge rgba(255, 255, 255, 0.7);
}

section:first-child {
  border-bottom: 3px ridge rgba(255, 255, 255, 0.7);
}

h1 {
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-shadow: 1.25px 1.25px 2px rgba(0, 0, 0, 0.49),
    -1.25px -1.25px 2px rgba(255, 255, 255, 0.99);
  //color: blueviolet;
}
ul:first-child {
  padding-right: 0rem;
  padding-left: 1rem;
}
ul:last-child {
  padding-left: 1.5rem;
}

ul:first-child li {
  list-style: none;
  width: 3rem;
  height: 1.6rem;
  border-radius: 1rem;
  margin-top: 2rem;
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.22),
    -4px -4px 12px 0 rgba(255, 255, 255, 0.65);
  background: linear-gradient(
    -10deg,
    rgba(0, 0, 0, 0.1),
    rgba(255, 255, 255, 0.75)
  );
  //border: 1px solid black;
  text-align: center;
  font-weight: 600;
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.49),
    -0.5px -0.5px 2px rgba(255, 255, 255, 0.99);
  letter-spacing: 1px;
}

ul:last-child li {
  margin-top: 0.6rem;
  list-style: none;
  text-align: right;
}

a {
  font-weight: 600;
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.49),
    -0.5px -0.5px 2px rgba(255, 255, 255, 0.99);
  letter-spacing: 1px;
}

input {
  margin-top: 0.3rem;
}

div2 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.22),
    -4px -4px 12px 0 rgba(255, 255, 255, 0.65);
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  );
  //border: 1px solid blue;
}

div3 {
  margin: auto;
  height: 9.8rem;
  width: 9.8rem;
  border-radius: 50%;
  box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, 0.25) inset,
    -5px -5px 12px 0 rgba(255, 255, 255, 0.15) inset;
  //background-color: blueviolet;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-moz-range-thumb {
  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0rem;
  height: 1.33rem;
  width: 1.33rem;
  border-radius: 50%;
  background-color: rgb(248, 248, 248);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.22);
  //-1px -1px 1px 0 rgba(255, 255, 255, 0.65);
  cursor: pointer;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 1.33rem;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25) inset,
    -1px -1px 3px 0 rgba(255, 255, 255, 0.15) inset;
  background: linear-gradient(
    178deg,
    rgba(0, 0, 0, 0.33),
    rgba(255, 255, 255, 0.65)
  );
  border-radius: 0.66rem;
}
